<%- include ('../partials/header') %>

<div class="container">
    <h1>Total Price of Accessory Group Items</h1>
    <h2><%= report.rows[0].school_name %></h2>
    <div class="rounded bg-light p-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Website Close Date</th>
                    <th>Days Until Website Close</th>
                    <th>Ceremony Date</th>
                    <th>Days Until Ceremony</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < report.rows.length; i++) { %>
                    <tr>
                        <td><%= report.rows[i].event_name %></td>
                        <td><%= report.rows[i].website_close_date.toString().split("00:00")[0] %></td>
                        <td><%= report.rows[i].website_close_time >= 0 ? report.rows[i].website_close_time : 'Closed'  %></td>
                        <td><%= report.rows[i].ceremony_date.toString().split("00:00")[0] %></td>
                        <td><%= report.rows[i].days_until_ceremony >= 0 ? report.rows[i].days_until_ceremony : 'Ceremony Over' %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('../partials/footer') %>