<%- include ('../partials/header') %>

<div class="container">
    <h1>Reports</h1>
    <div class="col-md-6 rounded bg-light p-3 row">
        <form action ="" method="POST">
        <div class="row">
            <legend>Please Select a School</legend>
            <label for="school-id">School:</label>
            <select name="schoolId" id="school-id" required>
                <% for(let i = 0; i < schools.rows.length; i++) { %>
                    <option value="<%= schools.rows[i].id %>"><%= schools.rows[i].id %>: <%= schools.rows[i].name %></option>
                <% } %>
            </select>
        </div>
        <div class="row">
            <input class="btn btn-primary mt-3" type="submit" name="buttonReport" value="Accessory Pricing">
            <input class="btn btn-primary mt-3" type="submit" name="buttonReport" value="Days to Graduation">
        </div>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>