<%- include ('../partials/header') %>

<div class="container">
    <h1>Total Price of Accessory Group Items</h1>
    <% try { %>
    <h2><%= report.rows[0].school_name %></h2>
    <div class="rounded bg-light p-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Accessory Group Name</th>
                    <th>Total Accessory Price</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < report.rows.length; i++) { %>
                    <tr>
                        <td><%= report.rows[i].event_name %></td>
                        <td><%= report.rows[i].accessory_group_name %></td>
                        <td><%= report.rows[i].total_accessory_price %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <% } catch { %>
    <h2>No data available</h2>
    <% } %>
</div>

<%- include('../partials/footer') %>