<%- include ('../partials/header') %>

<div class="container">
    <h1>Schools</h1>
    <div class="row">
        <div class="col">
            <div class="rounded bg-light p-3">
                <div id="create-form-block">
                    <form action="" method="POST">
                        <fieldset id="create-form">
                            <legend>Add a New School</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="school-name-create">School Name:</label><br />
                                        <input type="text" id="school-name-create" name="schoolName" required><br />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" id="is-active-create" name="active" value="true" required>
                                        <label for="is-active-create">Active</label><br />
                                        <input type="radio" id="is-inactive-create" name="active" value="false">
                                        <label for="is-active-create">Inactive</label><br />  
                                    </div>
                                </div>
                                <input type="hidden" name="submissionType" value="create">
                                <input class="btn btn-primary mt-3" type="submit" value="Submit">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="rounded bg-light p-3">
                <div id="update-form-block">
                    <form action="" method="POST">
                        <fieldset id="update-form">
                            <legend>Update an Existing School</legend>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="school-id-update">ID:</label><br />
                                        <select name="schoolId" id="school-id-update" required>
                                            <% for(let i = 0; i < schools.rows.length; i++) { %>
                                                <option value="<%= schools.rows[i].id %>"><%= schools.rows[i].id %></option>
                                                <% } %>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="school-name-update">School Name:</label><br />
                                        <input type="text" id="school-name-update" name="schoolName" required><br />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" id="is-active-update" name="active" value="true" required>
                                        <label for="is-active-update">Active</label><br />
                                        <input type="radio" id="is-inactive-update" name="active" value="false">
                                        <label for="is-active-update">Inactive</label><br />
                                    </div>
                                </div>
                                <input type="hidden" name="submissionType" value="update">
                                <input class="btn btn-primary mt-3" type="submit" value="Submit">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Active</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < schools.rows.length; i++) { %>
                <tr>
                    <td><%= schools.rows[i].id %></td>
                    <td><%= schools.rows[i].name %></td>
                    <td><%= schools.rows[i].active %></td>
                    <td><%= schools.rows[i].last_updated.toString().split("GMT")[0] %></td>
                    <td>
                        <form action="" method="POST">
                            <input type="hidden" name="submissionType" value="delete">
                            <input type="hidden" name="schoolId" value="<%- schools.rows[i].id %>">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <div>
        <!--Start of Housecallpro Online booking button-->
        <button class="hcp-button" onClick="HCPWidget.openModal()">Book online</button><script async src="https://online-booking.housecallpro.com/script.js?orgUuid=6daf88aa-a7d5-4d94-a348-863a9f425915"></script>
        <!--End of Housecallpro Online booking button-->
    </div>
</div>

<%- include('../partials/footer') %>