<%- include ('../partials/header') %>
<div class="container">
    <h1>Shipping</h1>
    <div class="row">
        <div class="col">
            <div class="rounded bg-light p-3">
                <div id="create-form-block">
                    <form action="" method="POST">
                        <fieldset id="create-form">
                            <legend>Add a New Shipping Profile</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="create-shipping-cost">Shipping Cost</label><br />
                                        <input type="number" step="0.01" id="create-shipping-cost" name="shippingCost" required><br />
                                    </div>
                                    <div class="col">
                                        <label for="create-event-id">Event ID:</label><br />
                                        <select name="eventId" id="create-event-id" required>
                                            <% for(let i = 0; i < eventData.length; i++) { %>
                                                <option value="<%= eventData[i].id %>"><%= eventData[i].id %>: <%= eventData[i].name %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input type="radio" id="create-ship-to-school" name="shipToSchool" value="true" required>
                                        <label for="create-ship-to-school">Ship to School</label><br />
                                        <input type="radio" id="create-ship-to-home" name="shipToSchool" value="false">
                                        <label for="create-ship-to-home">Ship to Home</label><br />  
                                    </div>
                                </div>
                                <div id="create-address-block">
                                    <div class="row mt-2 mb-2">
                                        <div class="col">
                                            <label for="create-address">Street Address</label><br />
                                            <input type="text" id="create-address" name="address" required style="width:100%">
                                        </div>
                                    </div>
                                    <div class="row mt-2 mb-2">
                                        <div class="col">
                                            <label for="create-city">City</label><br />
                                            <input type="text" id="create-city" name="city" required><br />
                                        </div>
                                        <div class="col">
                                            <label for="create-state">State</label><br />
                                            <input type="text" id="create-state" name="state" required><br />
                                        </div>
                                        <div class="col">
                                            <label for="create-zip">Zip</label><br />
                                            <input type="text" id="create-zip" name="zip" pattern="[0-9]*" required><br />
                                        </div>
                                    </div>
                                </div> 
                                <input type="hidden" name="submissionType" value="create">
                                <input class="btn btn-primary mt-3" type="submit" value="Submit">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="rounded bg-light p-3">
                <div id="update-form-block">
                    <form action="" method="POST">
                        <fieldset id="update-form">
                            <legend>Update an Existing Event</legend>
                            <div class="row">
                                <div class="col">
                                    <label for="shipping-id-update">ID:</label><br />
                                    <select name="shippingId" id="shipping-id-update" required>
                                        <% for(let i = 0; i < shippingData.length; i++) { %>
                                            <option value="<%= shippingData[i].id %>"><%= shippingData[i].id %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="update-shipping-cost">Shipping Cost</label><br />
                                    <input type="number" step="0.01" id="update-shipping-cost" name="shippingCost" required><br />
                                </div>
                                <div class="col">
                                    <label for="update-event-id">Event ID:</label><br />
                                    <input type="text" id="update-event-id" name="eventId" required><br />
                                </div>
                                <div class="col">
                                    <input type="radio" id="update-ship-to-school" name="shipToSchool" value="true" required>
                                    <label for="update-ship-to-school">Ship to School</label><br />
                                    <input type="radio" id="update-ship-to-home" name="shipToSchool" value="false">
                                    <label for="update-ship-to-home">Ship to Home</label><br />  
                                </div>
                            </div>
                            <div id="update-address-block">
                                <div class="row mt-2 mb-2">
                                    <div class="col">
                                        <label for="update-address">Street Address</label><br />
                                        <input type="text" id="update-address" name="address" required style="width:100%">
                                    </div>
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col">
                                        <label for="update-city">City</label><br />
                                        <input type="text" id="update-city" name="city" required><br />
                                    </div>
                                    <div class="col">
                                        <label for="update-state">State</label><br />
                                        <input type="text" id="update-state" name="state" required><br />
                                    </div>
                                    <div class="col">
                                        <label for="update-zip">Zip</label><br />
                                        <input type="text" id="update-zip" name="zip" pattern="[0-9]*" required><br />
                                    </div>
                                </div>
                            </div> 
                            <input type="hidden" name="submissionType" value="update">
                            <input class="btn btn-primary mt-3" type="submit" value="Submit">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Event ID</th>
                <th>Cost</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Ship to School</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < shippingData.length; i++) { %>
                <tr>
                    <td><%= shippingData[i].id %></td>
                    <td><%= shippingData[i].event_id %></td>
                    <td><%= shippingData[i].cost %></td>
                    <td><%= shippingData[i].address %></td>
                    <td><%= shippingData[i].city %></td>
                    <td><%= shippingData[i].state %></td>
                    <td><%= shippingData[i].zip %></td>
                    <td><%= shippingData[i].ship_to_school %></td>
                    <td><%= shippingData[i].last_updated.toString().split("GMT")[0] %></td>
                    <td>
                        <form action="" method="POST">
                            <input type="hidden" name="submissionType" value="delete">
                            <input type="hidden" name="shippingId" value="<%- shippingData[i].id %>">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('../partials/shipping-helpers') %>
<%- include('../partials/footer') %>